profiles {

    standard {
        process.executor = 'local'
    }

    cluster{
        process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'

        executor.queueSize=1000
        executor.perJobMemLimit=true
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'

        conda.cacheDir = "/nfs/production3/ma/home/asolovyev/scmap-workflow/envs"
        conda.createTimeout = "30 min"
    } 
}

params {
    query_10x_dir = "${baseDir}/data/10x_data"
    results_dir = "${baseDir}/data" // output for outer workflow 
    projection_method = "cell" //must be 'cell' or 'cluster'
    clust_idx = "${baseDir}/data/cluster_idx/*.rds"
    cell_idx = "${baseDir}/data/cell_idx/*.rds"
    col_names = "TRUE"
    pred_threshold = "0.1"
    cluster_col = "Sample.Characteristic.cell.type."
    label_dir = "scmap_cell_outputs"

}